@font-face {
  font-family: "OCR";
  src: url(fonts/OCR\ A\ Extended\ Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #23074d, #ff4c1c);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #23074d;
  clip-path: circle(40% at 90% 50%);
}

.card {
  width: 506px;
  height: 319px;
  background: radial-gradient(
    140% 140% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-top: 1px solid #eeeded70;
  border-left: 1px solid #eeeded70;
  border-radius: 30px;
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  z-index: 1;
}