@font-face {
  font-family: "OCR";
  src: url(fonts/OCR\ A\ Extended\ Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #23074d, #ff4c1c);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #23074d;
  clip-path: circle(40% at 90% 50%);
}